nav {
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  background-color: rgba(255,255,255,0.5);
  margin-bottom: 30px;
  height: 10%;
}
nav ul{
  padding-top: 2%;
}
nav ul li {
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
  box-sizing: border-box;
}
.fishy {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
  font-family: 'Candal', sans-serif;
  text-align: center;
  color: #343565;
}

.bizname {
  font-family: 'Candal', sans-serif;
  font-size: 5em;
  text-shadow: 2px 2px 2px #cccccc;
  text-align: center;
  color: #343565;
}

h2 {
  font-family: 'Candal', sans-serif;
  text-align: center;
  font-size: 2em;
  margin-bottom: 1.5em;
  color: rgb(241, 235, 176);
  padding-top: 7%;
   padding-left: 50%;
/*I added padding here, as the only h2 element is on index.html. */
}

h3 {
  font-family: 'Candal', sans-serif;
  color: #343565;
  text-align: center;
}

p {
  font-family: 'Quattrocento', serif;
  hyphens: none;
  text-align: justify;
  font-size: 1.25em;
  line-height: 1.25em;
  color: rgb(180, 172, 172);
  padding-left: 56%;
  padding-right: 7%;
}

body {
  background-image: url("../img/cloth.jpg");
  background-size: 10%;
  text-align:
}

.floater {
  background-color: #fefacb;
  padding: 5px;
  border-width: 80%;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
}
.forms {
  background-color: #82ca9c;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  font-family: 'Quattrocento', serif;
  width: 82.5%;
  margin: 0 auto;
}

}

form{
  color:#343565;
}
.space {
  margin-top: 10px;
}

.test {
  background-color: #fbc8b3;
  margin-top: 10px;
}
table {
  border: black 1px;
  margin: 0 auto;
}

.crop {
  width: 1075px;
  height: 419px;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 auto;
}

header {
  margin-bottom: 30px;
}

.order {
  background-image: url("../img/cookies.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 auto;
  left: 746px;
  top: -385px;
  height: 540px;
  width: 1000px;
}

.tableTitle {
  font-family: 'Quattrocento', serif;
  color:#343565;
  font-size: 2em;
  font-weight: bold;
  padding: 0% 0%;
  text-align: center;
}

table {
  font-family: 'Quicksand', sans-serif;
  background: white;
  border-collapse: collapse;
}
tr:nth-child(even) {
  background: rgb(238, 236, 236)
}
table, th, td {
  border: 1px solid black;
}

footer {
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
  background-color: rgba(255,255,255,0.5);
  margin-top: 2%;
  height: 4%;
}
footer p {
  color: black;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}