
h1 {
  font-family: 'Candal', sans-serif;
  text-align: center;
}
p {
  font-family: 'Quattrocento', serif;
}

body {
  background-color: #c0e2ca;
}

floater {
  background-color: #fefacb;
    padding: 10px;
    border-width: 300px;
    margin-top: 60px;
    margin-left: 60px;
    float: left;

}
]